<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ClientMapper">

    <resultMap id="BaseResultMap" type="Client">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
    </resultMap>

    <resultMap id="ClientWithTrainersResultMap" type="Client" extends="BaseResultMap">
        <collection property="trainers" column="ID" select="selectTrainersForClient"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="long">
        delete from CLIENT where ID = #{id}
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id" useGeneratedKeys="true">
        insert into CLIENT (NAME) values (#{name})
    </insert>

    <update id="updateByPrimaryKey" parameterType="Client">
        update CLIENT set NAME = #{name} where ID = #{id}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select ID, NAME from CLIENT where ID = #{id}
    </select>

    <select id="selectByPrimaryKeyWithTrainers" resultMap="ClientWithTrainersResultMap">
        select ID, NAME from CLIENT where ID = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select ID, NAME from CLIENT
    </select>

    <select id="selectAllWithTrainers" resultMap="ClientWithTrainersResultMap">
        select ID, NAME from CLIENT order by ID
    </select>

    <select id="selectTrainersForClient" resultMap="mybatis.TrainerMapper.BaseResultMap">
        select t.ID, t.NAME, t.GYM_ID
        from CLIENT_TRAINER ct
                 join TRAINER t on t.ID = ct.TRAINER_ID
        where ct.CLIENT_ID = #{_parameter}
    </select>

    <select id="countClientTrainer" resultType="int">
        select count(*) from CLIENT_TRAINER
        where CLIENT_ID = #{clientId} and TRAINER_ID = #{trainerId}
    </select>

    <insert id="insertClientTrainer">
        insert into CLIENT_TRAINER (CLIENT_ID, TRAINER_ID)
        values (#{clientId}, #{trainerId})
    </insert>

    <delete id="deleteClientTrainer">
        delete from CLIENT_TRAINER
        where CLIENT_ID = #{clientId} and TRAINER_ID = #{trainerId}
    </delete>

</mapper>